//Primary Colors
$primaryColor-purple:hsl(259, 100%, 65%);
$primaryColor-lightRed: hsl(0, 100%, 67%);

//Neutral
$neutralColor-white:hsl(0, 0%, 100%);
$neutralColor-offWhite: hsl(0, 0%, 94%);
$neutralColor-lightGrey: hsl(0, 0%, 86%);
$neutralColor-smokeyGray: hsl(0, 1%, 44%);
$neutralColor-offBlack: hsl(0, 0%, 8%);
